<div class="footer">

  <a href="mailto:me@cathycodes.com" target="_blank" rel="noopener noreferrer">
    <img src="assets/social_media/email_icon.svg" alt="Cathy's email" />
  </a>

  <a href="https://github.com/cathycodes-dev" target="_blank" rel="noopener noreferrer">
    <img src="assets/social_media/github_logo.svg" alt="Cathy's GitHub" />
  </a>

  <a href="https://www.linkedin.com/in/cathy-codes/" target="_blank" rel="noopener noreferrer">
    <img src="assets/social_media/linkedin_logo.svg" alt="Cathy's LinkedIn" />
  </a>
  <p>© <span id="year"></span> Cathy Codes — All Rights Reserved 2025</p>
</div>
